body {
    background-color: #f5f5f5;
    width: 350px;
}

#container {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    background-color: white;
    justify-content: center;
    border: 1px solid lightgray;
}

/* html 공간 만드는 부분 */
#sign-up-container {
    width: 350px;
    height: 600px;
    margin: 30px auto 0 auto;

    background-color: white;
}

/* container 에서 margin 주고 실질적으로 이미지 및 데이터 들어가는 부분*/
#sign-up-container #sign-up-wrapper {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#sign-up-container #sign-up-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding-bottom: 10px;
    margin-bottom: 16px;
    border-bottom: 1px solid lightgray;

}

#sign-up-wrapper #sign-up-header > p {
    font-size: 18px;
    font-weight: 400;
    color: gray;
    text-align: center;
    margin: 10px 0;
}

#pwd_title > p {
    margin: 10px 0;
    font-size: 26px;
}
#sub-title{
    font-size: 15px;
    margin: 0 32px;
}

#sign-up-container #sign-up-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

#sign-up-wrapper #sign-up-body input {
    height: 35px;
    width: 268px;
    margin-top: 20px;
    border-radius: 4px;
}

#sign-up-wrapper #sign-up-body button {
    margin: 20px auto;
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#change-box {
    border-top: 1px solid lightgray;
}


#footer-button-wrapper {
    width: 100px;
    height: 50px;
    margin: 20px auto;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
}

#sign-up-footer-container #footer-button-wrapper > p {
    margin-right: 5px;
}