a {
  text-decoration: none;
  color: #232322;
}
.edit_profile_container {
  width: 720px;
  box-sizing: border-box;
  margin: 0 auto;
  letter-spacing: -0.9px;
  align-items: center;
  text-align: center;
  background-color: #fff;
  padding: 40px 70px;
  margin-top: 25px;
  box-shadow: 0px 5px 5px 5px rgb(235, 235, 235);
}

.image_container {
  display: flex;
}

.image_container input {
  cursor: pointer;
}
#input_image {
  margin: 0 auto;
  width: 66px;
  overflow: hidden;
  margin-top: 20px;
}

.bot_content {
  padding-top: 40px;
}
.bot_content h4 {
  position: relative;
  border-top: 1px solid #ddd;
  padding-top: 40px;
  font-size: 25px;
  margin-top: 30px;
  font-weight: 600;
  padding-bottom: 30px;
}

.bot_content h4:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: #232323;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.bot_content ul {
  margin-top: 40px;
}
.bot_content ul li:nth-of-type(1) {
  margin-top: 0;
}
.bot_content ul li {
  margin-top: 30px;
}

.bot_content ul li label {
  font-weight: 500;
  font-size: 18px;
  color: rgba(38, 38, 38);
  font-size: 16px;
  text-align: left;
  padding-right: 20px;
  line-height: 18px;
  display: inline-block;
  width: 90px;
  text-align: center;
}
.bot_content ul li input {
  border-radius: 4px;
  border: none;
  width: 450px;
  box-sizing: border-box;
  padding: 10px 20px;
  background-color: #e1e4ec;
}

.bot_content ul li select {
  width: 450px;
}

.bot_content ul li textarea {
  width: 450px;
}

.bot_content ul li:nth-child(6) {
  display: flex;
  justify-content: center;
}
.bot_content ul li:nth-child(6) label {
  height: 80px;
  line-height: 80px;
}
.bot_content ul > a {
  display: block;
  color: #fff;
  width: 100px;
  background-color: rgb(232, 86, 86);
}
.submit_form {
  text-align: right;
  border-top: 1px solid #ddd;
  padding-top: 40px;
}
.sign_out_btn {
  border: none;
  background-color: #fa4c5b;
  color: #fff;
  padding: 10px 25px;
  border-radius: 5px;
  margin: 35px 0;
}

.submit_form div {
  display: flex;
  justify-content: space-between;
}

.submit_form > a {
  display: inline-block;
  text-align: center;
  margin-bottom: 30px;
  width: 100px;
  margin-right: 100px;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  color: #fff;
  background-color: rgb(234, 78, 88);
  border-radius: 5px;
}
.submit_form div a {
  display: block;
  border-radius: 3px;
  width: 70px;
  height: 30px;
  font-size: 14px;
  line-height: 32px;
  color: #fff;
  text-align: center;
  background-color: #0095f6;
}
.submit_form div input {
  width: 70px;
  height: 30px;
  font-size: 14px;
  border-radius: 3px;
  color: #fff;
  background-color: #0095f6;
  cursor: pointer;
  border: none;
}

.in_popup {
  position: absolute;
  z-index: 100;
  background: #fff;
  width: 550px;
  top: 49%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  padding: 40px 50px;
  border: 1px solid #ddd;
}

.in_popup h4 {
  position: relative;
  padding-bottom: 30px;
  font-size: 28px;
  font-weight: 600;
}
.in_popup h4:before {
  position: absolute;
  content: "";
  width: 40px;
  height: 3px;
  background-color: #232323;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.in_popup p {
  font-size: 18px;
  line-height: 28px;
  margin-top: 15px;
}

.in_popup p strong {
  font-size: 21px;
  color: #fa4c5b;
}

.popup-inner button {
  background-color: #fff;
  color: #232323;
  border: 1px solid #ddd;
  padding: 10px 25px;
  border-radius: 5px;
  margin-right: 20px;
}
.popup-inner .sign_out_btn {
  margin: 0;
}

.warnin_pop {
  position: fixed;
  content: "";
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}
