body {
  max-width: 1100px;
  margin: 0 auto;
  background-color: #fafafa;
}
.story {
  background-color: #fff;
  padding: 20px 15px;
  margin-bottom: 25px;
  border: 1px solid #ddd;
  width: 650px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.story .stroy_on img {
  margin-top: 10px;
  border: 10px solid indianred;
}

.story .stroy_off img {
  margin-top: 10px;
  border: 10px solid gray;
}

.wrap {
  position: relative;
  width: 700px !important;
  margin-top: 45px;
}

.content {
  border-top: 1px solid #ddd !important;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-top: 40px;
  width: 650px;
  z-index: -1;
}
.userInfo {
  padding-top: 10px !important;
}
.userInfo .post-left-wrapper {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 300px;
}
.userInfo div {
  line-height: 30px !important;
}
.userInfo .post-left-wrapper > img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.userInfo .post-left-wrapper > p {
  color: #232323;
  font-weight: 700;
  margin-left: 10px;
  font-size: 17px;
}

.image_box {
  width: 100%;
  margin: 8px 0;
  background-image: url(../images/image.gif);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 450px;
  margin-top: 10px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.comment p {
  font-size: 15px;
  color: #232323;
  margin-top: 7px;
}

.recommend {
  position: fixed;
  top: 0;
  margin-top: 100px;
  padding: 20px 15px;
  padding-right: 0;
  box-sizing: border-box;
  width: 350px;
  height: 450px;
}
.hi {
  width: 350px !important;
}
.left-wrapper {
  display: flex;
  align-items: center;
  margin-left: 5px;
  width: 25px;
  position: relative;
}
.right-wrapper {
  width: 20px;
  display: flex;
  justify-content: right;
  margin-left: 500px;
}
.left-wrapper img {
  margin: 5px;
}
.left-wrapper img:last-child {
  position: absolute;
  margin-left: 600px;
  width: 20px;
}

.icon-2 {
  margin-left: 10px;
  width: 24px;
}
.errspan {
  float: left;
  transform: translate(13px, -8px);
  margin-right: 6px;
  margin-top: -20px;
  position: relative;
  z-index: 2;
  width: 20px;
  color: rgba(66, 80, 114, 0.4);
}

.dialog {
  position: absolute;
  border: 1px solid #8d8c8c45;
  margin-top: 10px;
  left: 502px;
  display: none;
}

.dialog .more-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dialog button {
  width: 140px;
  background-color: white;
  font-size: 1.2rem;
  border: 1px solid #8d8c8c45;
}

.content:nth-of-type(1) {
  margin-top: 70px !important;
}
