#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 60px 0 0 0;
}

#main-container {
    width: 720px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    padding: 0;
}

#container-head {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    align-items: center;
    padding: 3px 20px;
}

#container-head > a {
    font-size: 25px;
}

#container-head .title {
    margin-left: 45px;
}

#submit-btn {
    color: #0095f6;
    background-color: white;
    border: none;
}

#post-form-container {
    display: flex;
    justify-content: center;
}

#img-form {
    position: relative;
    width: 420px;
    height: 450px;
    overflow: hidden;
    z-index: 0;
}

#img-form > p {
    content: "Background text";
    color: #8f8f8f;
    position: absolute;
    z-index: 0;
    padding: 32%;
}

#preview_writing_image {
    position: relative;
    width: auto;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#file-upload {
    border: 1px solid #ddd;
}

#desc {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    width: 300px;
    max-height: 410px;
    min-height: 410px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-top: none;
    border-right: none;
}

.input-file-button {
    display: block;
    width: 90px;
    border: none;
    margin: 0;
    padding: 5px 4px;
    background-color: #0078ff;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}