
.write_background{
    background-color: gray;
    position: absolute;
    top:0px;
    left: 0px;
    opacity: 0.8;
    width : 100vw;
    height : 100vw;
    z-index: 3;

}

.write_background .write_background_wrapper{
    display: flex;
    flex-direction: row;
}

.write_background .write_background_wrapper .write_main{
    position: relative;
    top: 200px;
    left : 50%;
    opacity: 1.0;
    background-color: white;
    width: 400px;
    height: 400px;
    z-index: 2;
    margin-top : 50vw;
}