<div id="header">
    <div class="header_inner_wrap">
        <img id="logo" class="is_pointer" src="../static/images/insta-logo.png"
             onclick="window.location.href='/index_page'"/>
        <input type="text" placeholder="검색">
        <ul id="head_icon" style="position: relative">
            <li>
                <img id="user-home" class="is_pointer" src="../static/images/home@3x.png" onclick="profile_main(this)"/>
            </li>
            <li>
                <img class="is_pointer" src="../static/images/dm@3x.png">
            </li>
            <li>
                <img class="is_pointer" src="../static/images/trending@3x.png"
                     onclick="window.location.href='/writing_new'"/>
            </li>
            <li>
                <img class="is_pointer" src="../static/images/like@3x.png" onclick="open_like_history()">
            </li>
            <li>
                <img class="is_pointer" src="../static/images/more@3x.png">
            </li>
            {% include 'like_history.html' %}
            {% include 'header_more.html' %}
        </ul>
    </div>
</div>
