<div class="header_more_container">
    <div class="header_more_container_wrapper">
        <div class="header_more_row" onclick="window.location.href='/profile_main/my'">
            <div class="header_more_icon">
                <img src="../static/images/profile@3x.png">
            </div>
            <div class="header_more_text">
                <p> 프로필 </p>
            </div>
        </div>
        <div style="border-top:2px solid #e3e3e3;width:100%; height:0px;">
        </div>
        <div class="header_more_row">
            <div class="header_more_text" onclick="more_logout()">
                <p> 로그아웃 </p>
            </div>
        </div>
    </div>
</div>