<div id='like_history_container' class="like_history_container" >
    <div class="like_history_wrapper">
        <div class="like_history_row">
            <div class="like_history_row_header">
                이번주
            </div>
            <div class="like_history_row_main">
                <div class="like_history_profile"></div>
                <div class="like_history_content">
                    <p>sdsg25889f님이 회원님을 팔로우하기 시작했습니다.3일</p>
                </div>
                <div class="like_history_follow_wrapper">
                    <button class="like_history_follow">팔로우</button>
                </div>
            </div>
        </div>
    </div>
</div>


