<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Log In</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/log_style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="../static/javascript/login.js"></script>

    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.0/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>


</head>

<body>
    <div id="main">
        <div id="container">
            <div id="phone-img">
                <div class="slide">
                    <ul>
                        <li><img src="../static/images/instar_1.jpg" /></li>
                        <li><img src="../static/images/instar_2.jpg"></li>
                        <li><img src="../static/images/instar_3.jpg"></li>
                        <li><img src="../static/images/instar_4.jpg"></li>
                    </ul>
                </div>
            </div>
            <div id="sign-in-up">
                <div id="sign-in-box">
                    <p id="title"><img src="/static/images/logo.png" alt="logo"></p>
                    <div id="log-box">
                        <input type="text" id="user_id" class="input_style_text" placeholder="아이디" />
                        <span class="fas fa-user errspan" style="transform: translate(15px, -8px);"></span>
                        <p id="help-id-login"></p>
                        <input style="margin-top: 15px;" type="password" id="user_pw" class="input_style_text"
                            placeholder="비밀번호" />
                        <span class="fas fa-envelope errspan"></span>
                        <p id="help-password-login"></p>
                    </div>
                    <button id="log_button" class="common_btn" onclick="login()">로그인</button>
                    <a
                        href="https://www.facebook.com/?stype=lo&jlou=Affl79mdaHZ58qv2XOrTxBjrpw-_UvwAw9X9nniwhobN1V99cBmOKJXaM7LConT2bDxYMrJMheEupYauYLCv5NFJv7FdosmwC17LqZ3heD0q9g&smuh=5856&lh=Ac83_DGuPa56wcVju5w">
                        <button id="facebook-button"><img
                                src="https://img.etnews.com/photonews/1712/1023628_20171213175510_729_0001.jpg" ,
                                width="20" /> Facebook으로 로그인 </button>
                    </a>
                    <a href="/change_pwd" class="btn-example">비밀번호를 잊으셨나요?</a>
                    <div id="help-box">
                        <p id="help-login"></p>
                    </div>
                </div>

                <div id="sign-up-box">
                    <p>계정이 없으신가요? <a href="/sign_up"><b>가입하기</b></a></p>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $('.btn-example').click(function () {
            var $href = $(this).attr('href');
            layer_popup($href);
        });
        function layer_popup(el) {

            var $el = $(el);    //레이어의 id를 $el 변수에 저장
            var isDim = $el.prev().hasClass('dimBg'); //dimmed 레이어를 감지하기 위한 boolean 변수

            isDim ? $('.dim-layer').fadeIn() : $el.fadeIn();

            var $elWidth = ~~($el.outerWidth()),
                $elHeight = ~~($el.outerHeight()),
                docWidth = $(document).width(),
                docHeight = $(document).height();

            // 화면의 중앙에 레이어를 띄운다.
            if ($elHeight < docHeight || $elWidth < docWidth) {
                $el.css({
                    marginTop: -$elHeight / 2,
                    marginLeft: -$elWidth / 2
                })
            } else {
                $el.css({ top: 0, left: 0 });
            }

            $el.find('a.btn-layerClose').click(function () {
                isDim ? $('.dim-layer').fadeOut() : $el.fadeOut(); // 닫기 버튼을 클릭하면 레이어가 닫힌다.
                return false;
            });

            $('.layer .dimBg').click(function () {
                $('.dim-layer').fadeOut();
                return false;
            });

        }


    </script>


</body>

</html>