<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orimstagram</title>
    <link rel="stylesheet" href="../static/css/profile_main_css.css">
    <link rel="stylesheet" href="../static/css/no.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="../static/javascript/profile_main_js.js"></script>
</head>
<body>
<div class="wrap">
    <div class="main_wrap">
        <div class="my_container">
            <div class="profile_container">
                <div class="profile_wrapper">
                    <div class="profile_picture">
                        <img src="../static/images/라이언.png">
                    </div>
                    <div class="profile_nickname">
                        <p>__닉네임 입니다.__</p>
                    </div>
                </div>
            </div>
            <div style="border-left: 1px solid lightgrey; width:0; height:400px"></div>
            <div class="options_container">
                <button>프로필 관리</button>
                <button>게시물 작성</button>
            </div>

        </div>
        <hr>
        <div class="content_container">
            <div class="content_wrapper">
                <div class="content_row">
                    <div class="content">
                        <img src="../static/images/라이언.png">
                    </div>
                    <div class="content">
                        <img src="../static/images/라이언.png">
                    </div>
                    <div class="content">
                        <img src="../static/images/라이언.png">
                    </div>
                </div>
                <div class="content_row">
                    <div class="content">
                        <img src="../static/images/라이언.png">
                    </div>
                    <div class="content">
                        <img src="../static/images/라이언.png">
                    </div>
                    <div class="content">
                        <img src="../static/images/라이언.png">
                    </div>
                </div>
                <div class="content_row">
                    <div class="content">
                        <img src="../static/images/라이언.png">
                    </div>
                    <div class="content">
                        <img src="../static/images/라이언.png">
                    </div>
                    <div class="content">
                        <img src="../static/images/라이언.png">
                    </div>
                </div>
                <div class="content_row">
                    <div class="content">
                        <img src="../static/images/라이언.png">
                    </div>
                    <div class="content">
                        <img src="../static/images/라이언.png">
                    </div>
                    <div class="content">
                        <img src="../static/images/라이언.png">
                    </div>
                </div>
                <div class="content_row">
                    <div class="content">
                        <img src="../static/images/라이언.png">
                    </div>
                    <div class="content">
                        <img src="../static/images/라이언.png">
                    </div>
                    <div class="content">
                        <img src="../static/images/라이언.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>